{% extends 'base.html' %}
{% block content %}
  <form action="{% url 'notes:add' %}" method="POST">
    {% csrf_token %}
    <label for="content">Note Content</label>
    <textarea name="content" rows="5" cols="40"></textarea>

    <label for="expiration">Expiration Date</label>
    <input name="expiration" type="datetime-local" value="{{ note.expiration|date:'Y-m-d\\TH:i:s' }}" />

    <label for="views_limit">Views Limit</label>
    <input name="views_limit" type="number" min="1" value="1" />

    <input type="submit" value="AddNote" />
  </form>
{% endblock %}
