<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Add Note</title>
  </head>
  <body>
    <form action="{% url 'notes:add' %}" method="POST">
      {% csrf_token %}
      <label for="content">Note Content</label>
      <textarea name="content" rows="5" cols="40"></textarea>

      <label for="expiration">Expiration Date</label>
      <input name="expiration" type="datetime-local" value="2024-10-10T08:30" />

      <label for="views_limit">Views Limit</label>
      <input name="views_limit" type="number" min="1" default="1" />

      <input type="submit" value="AddNote" />
    </form>
  </body>
</html>
