{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <form action="{% url 'notes:signin' %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Username</label>
        <input name="username" type="text" placeholder="username" required/>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" placeholder="password" required />
      </div>

      <input type="submit" value="Login" />
    </form>
  </div>
{% endblock %}
